<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleag.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/favicon.png">
    <link rel="stylesheet" href="/css/post/post.css">
    <link rel="stylesheet" href="/css/modal/modal.css">
    <link rel="stylesheet" href="/css/header/header.css">
    <title>수정하기</title>
</head>

<body>
    <main id="board">
        <header th:replace="~{/fix/header :: #post-header}"></header>
        <section id="post-banner">
            <div><a th:href="@{/post/write}"><img src="/images/post_banner.png"></a></div>
        </section>
        <div class="modal">
            <div class="warn-modal">
                <div id="content-wrap"></div>
            </div>
        </div>
        <section id="info-wrap">
            <article id="info-container">
                <h6 class="info">게시글 수정하기</h6>
                <section class="order">
                    <a th:href="@{/post/list}">목록으로</a>
                </section>
            </article>
            <form th:action="@{/post/modify}" method="post" name="writeForm" th:object="${post}">
                <input type="hidden" name="id" th:field="*{id}">
                <legend>
                    <h3>
                        게시글을 <span class="text-accent2">바른말</span>로 <span class="text-accent1">이쁘게</span> 작성해보세요
                    </h3>
                </legend>
                <div id="write-title-wrap" class="wrap">
                    <div class="profile write-profile">
                        <div><img src="/images/profile.png" width="15px"></div>
                        <h6 class="writer" th:text="*{memberName}"></h6>
                    </div>
                    <label>제목</label>
                </div>
                <span class="title area">
                    <textarea rows="1" placeholder="멋진 제목을 작성해보세요." maxlength="30" onkeypress="blockEnter()" onkeyup="checkLength(this, 30)" th:field="*{postTitle}"></textarea>
                    <div class="textarea-count">0/30</div>
                </span>
                <div id="write-content-wrap" class="wrap">
                    <label>내용</label>
                </div>
                <span class="content area">
                    <textarea rows="3" placeholder="여러분의 글솜씨를 보여주세요." maxlength="5000" onkeyup="checkLength(this, 5000)" th:field="*{postContent}"></textarea>
                    <div class="textarea-count">0/5,000</div>
                </span>
                <div class="attach-wrap">
                    <label for="upload1" class="attach">
                        <img src="" class="thumbnail representative">
                        <div class="x">
                            <img src="/images/x.png">
                        </div>
                        <h6 class="plus">+</h6>
                        <h6>대표 이미지</h6>
                        <span class="file-size"></span>
                    </label>
                    <label for="upload2" class="attach">
                        <img src="" class="thumbnail">
                        <div class="x">
                            <img src="/images/x.png">
                        </div>
                        <h6 class="plus">+</h6>
                        <h6>이미지 추가</h6>
                        <span class="file-size"></span>
                    </label>
                    <label for="upload3" class="attach">
                        <img src="" class="thumbnail">
                        <div class="x">
                            <img src="/images/x.png">
                        </div>
                        <h6 class="plus">+</h6>
                        <h6>이미지 추가</h6>
                        <span class="file-size"></span>
                    </label>
                    <label for="upload4" class="attach">
                        <img src="" class="thumbnail">
                        <div class="x">
                            <img src="/images/x.png">
                        </div>
                        <h6 class="plus">+</h6>
                        <h6>이미지 추가</h6>
                        <span class="file-size"></span>
                    </label>
                </div>
                <input type="file" id="upload1" class="upload" style="display: none;">
                <input type="file" id="upload2" class="upload" style="display: none;">
                <input type="file" id="upload3" class="upload" style="display: none;">
                <input type="file" id="upload4" class="upload" style="display: none;">
                <article class="warn-wrap">
                    <h5 class="warn-title">게시글을 등록하기 전에 확인해주세요!</h5>
                    <ul>
                        <li>게시글 목록에서는 <span class="text-accent1">대표 이미지만 나타나요.</span></li>
                        <li>등록한 게시글은 모든 이용자가 볼 수 있으며, <span class="text-accent1">댓글은 작성자만 삭제할 수 있어요.</span></li>
                        <li>본인이 등록한 게시글은 언제든지 수정 및 삭제가 가능해요.</li>
                        <li>
                            이런 게시글은 본인의 의사와 상관없이 삭제될 수 있어요.
                            <ul class="inner">
                                <li>비속어와 상대방을 비방하는 내용이 있는 경우</li>
                                <li>광고 및 홍보 내용이 있는 경우</li>
                                <li>정치적인 내용이 있는 경우</li>
                            </ul>
                        </li>
                        <li>제목이 길면, 직접 작성한 제목과 다르게 올라갈 수 있어요.</li>
                        <li>게시글 내용을 스프링부트 마케팅 및 광고 목적으로 활용하는 것에 동의합니다.</li>
                        <li>스프링부트는 게시글 내용에 대한 법률적 책임이 없습니다.</li>
                    </ul>
                </article>
                <div id="check-agree">
                    <label class="check-agree-wrap">
                        <section>
                            <input type="checkbox" name="agree">
                            <span class="checkbox">
                                <img src="/images/check_all.png" width="15px">
                            </span>
                            <p class="h5">유의사항을 모두 확인했으며, 동의합니다.</p>
                        </section>
                    </label>
                </div>
                <button type="button" class="ok-button">수정 완료</button>
            </form>
        </section>
    </main>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/js/modal/modal.js"></script>
<script src="https://rawgit.com/jackmoore/autosize/master/dist/autosize.min.js"></script>
<script th:inline="javascript">
    let files = [[${post.files}]]
</script>
<script src="/js/post/modify.js"></script>
</html>