<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatis.mapper.ProductOrderMapper">
    <select id="selectProducts" resultType="productOrder">
        SELECT ORDER_ID, PRODUCT_ID FROM TBL_PRODUCT_ORDER WHERE ORDER_ID = #{orderId}
        ORDER BY ORDER_ID
    </select>
</mapper>